<div class="content" role="main">

    <!-- Resources -->
    <h2>Bienvenido</h2>
    <p>Mis proyectos como diseñador de experiencia de usuario:</p>
  
    <div class="card-container">
  
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Ange1D</mat-card-title>
            <mat-card-subtitle>Desarrallador & Diseñador UX</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="/assets/img/pro-mockup.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <h1>CHRONO MASTER</h1>
            <p>
              Diseño y desarrollo una aplicación móvil andoid en equipo para la organizacion de actividades, eventos y tareas.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="primary" routerLink="/project">Ver</a>
        </mat-card-actions>
        </mat-card>
  
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Ange1D</mat-card-title>
            <mat-card-subtitle>Diseñador UX</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="/assets/img/pro2-mockup.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <h1>APP DE RESTAURANTES</h1>
            <p>
              Diseño de una aplicación móvil para agendar mesas en un restaurante cercano a nuestra ubicación.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="primary" routerLink="/project2">Ver</a>
        </mat-card-actions>
        </mat-card>
  
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Ange1D</mat-card-title>
            <mat-card-subtitle>Diseñador UX</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="/assets/img/pro3-mockup.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <h1>PAGINA WEB DE CURSOS</h1>
            <p>
              Diseño de una pagina web responsiba para buscar, ver y descargar cursos de programación.
            </p>
          </mat-card-content>
          <mat-card-actions>
              <a mat-raised-button color="primary" routerLink="/project3">Ver</a>
          </mat-card-actions>
        </mat-card>
        
    </div>
  
   
  
  </div>
