<div class="content">
    <h1>APP DE RESTAURANTES</h1>
    
    <mat-card class="example-card">
        <img mat-card-image src="./assets/img/pro2-mockup.png" alt="mockup">
      </mat-card>
    
    
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Descripcion</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Esta aplicación te ayuda a ver restaurantes en tu zona, además de brindarte información acerca de los restaurantes y la posibilidad de agendar una mesa.</p>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>El problema: </mat-card-title>
            <mat-card-subtitle>Las personas desconocen los restaurantes cercanos y no pueden reservar una mesa.
                </mat-card-subtitle><br>
                <mat-card-title>El objetivo:</mat-card-title>
                <mat-card-subtitle>
                Brindarles a los usuarios la posibilidad de agendar una mesa en un restaurante de su preferencia.
            </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Mi rol: </mat-card-title>
            <mat-card-subtitle>Diseñador de UX a cargo de crear una aplicación para agendar mesas en restaurantes, desde la concepción hasta la entrega. .
                </mat-card-subtitle><br>
                <mat-card-title>Responsabilidades: </mat-card-title>
                <mat-card-subtitle>
                    Realización de entrevistas, esquemas digitales, creación de prototipos de baja y alta fidelidad, realización de estudios de facilidad de uso, accesibilidad e iteración de diseños.                    
            </mat-card-subtitle>
        </mat-card-header>
      </mat-card>


      <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Persona: Henry</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/img/pro2-persona.png" alt="Persona: Henry">
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Mapa de recorrido del usuario</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/img/pro2-mapa.png" alt="Mapa de recorrido del usuario">
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><a href="https://www.figma.com/proto/Us9RLe8clE2j7DEYvtAj6f/restaurantes?node-id=4%3A315&scaling=min-zoom&page-id=4%3A314&starting-point-node-id=4%3A315" target="_blank">Prototipo de baja fidelidad</a></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/img/pro2-prototipo-l.png" alt="Prototipo de baja fidelidad">
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><a href="https://www.figma.com/proto/Us9RLe8clE2j7DEYvtAj6f/restaurantes?node-id=21%3A359&scaling=min-zoom&page-id=21%3A358&starting-point-node-id=21%3A359" target="_blank">Prototipo de alta fidelidad</a></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/img/pro2-prototipo-h.png" alt="Prototipo de alta fidelidad">
      </mat-card>
    
    
    </div>
