<div class="content">
    <h1>PAGINA WEB DE CURSOS</h1>
    
    <mat-card class="example-card">
        <img mat-card-image src="/assets/img/pro3-mockup.png" alt="mockup">
    </mat-card>
    
    
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Descripcion</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Diseñar un sitio web responsivo para encontrar y visualizar tutoriales para aprender a programar</p>
        </mat-card-content>
    </mat-card>


      <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Mapa del sitio</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/img/pro3-mapa.png" alt="Mapa del sitio">
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><a href="https://www.figma.com/proto/0dKv79WuK8qjRWWGDFDlxJ/Untitled?node-id=6%3A431&scaling=min-zoom&page-id=6%3A430&starting-point-node-id=6%3A431" target="_blank">Prototipo de baja fidelidad</a></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/img/pro3-prototipo-l-w.png" alt="Prototipo de baja fidelidad web">
        <img mat-card-image src="/assets/img/pro3-prototipo-l-m.png" alt="Prototipo de baja fidelidad movil">
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><a href="https://www.figma.com/proto/0dKv79WuK8qjRWWGDFDlxJ/Untitled?node-id=13%3A617&scaling=min-zoom&page-id=13%3A616&starting-point-node-id=13%3A617" target="_blank">Prototipo de alta fidelidad</a></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/img/pro3-prototipo-h-w.png" alt="Prototipo de alta fidelidad web">
        <img mat-card-image src="/assets/img/pro3-prototipo-h-m.png" alt="Prototipo de alta fidelidad movil">
      </mat-card>
    
    
    </div>
