<div class="content">
<h1>CHRONO MASTER</h1>

<mat-card class="example-card">
    <img mat-card-image src="https://raw.githubusercontent.com/Ange1D/BEDU-DesarrolloMovil-Equipo22-AgendaAndroid/master/app/src/main/res/drawable/chronomaster01.png" alt="Logo Chrono Master">
  </mat-card>


<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Descripcion</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Es una aplicación móvil que nos ayudara a organizar nuestras actividades, eventos y tareas.</p>
    </mat-card-content>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Esquemas de página digitales</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/img/pro-wireframe.png" alt="Esquemas de página digitales Chrono Master">
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Colores</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/img/pro-color.png" alt="Esquemas de página digitales Chrono Master">
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Tipografía</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/img/pro-typography.png" alt="Esquemas de página digitales Chrono Master">
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Maquetas</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://raw.githubusercontent.com/Ange1D/BEDU-DesarrolloMovil-Equipo22-AgendaAndroid/master/mockup.JPG" alt="MaquetasChrono Master">
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Aplicacion terminada <br><br><br>
        La aplicacion terminada se puede ver en este <a target="_blank" href="https://github.com/Ange1D/BEDU-DesarrolloMovil-Equipo22-AgendaAndroid">Enlace</a>
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/img/pro-mockup.png" alt="Esquemas de página digitales Chrono Master">
    <mat-card-content>
    </mat-card-content>  
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Colaboradores</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h2>
      <a target="_blank" href="https://github.com/Ange1D/">Ange1D</a><br><br>
      <a target="_blank" href="https://github.com/Braulio-Palagot">Braulio Palagot</a><br><br>
      <a target="_blank" href="https://github.com/CS-Parra">CS Parra</a><br><br>
      <a target="_blank" href="https://github.com/VogelCoage">Vogel Coage</a><br><br>
    </h2>
    </mat-card-content>
</mat-card>


</div>